#back-button {
position: absolute;
top: 2rem;
left: 2rem;
}
.btn:hover {
color: #19838E !important;
border-color: #19838E !important;
}
#post-title:hover {
color: #24BFCF !important;
}
.post-content a {
padding: 0px 0.2em;
-webkit-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
border-bottom: 1px dashed rgb(255, 46, 108);
}
.post-content a:hover {
color: #FFF;
border-color: rgb(255, 46, 108);
background: rgb(255, 46, 108) none repeat scroll 0% 0%;
}
main {
position: inherit;
padding: 0;
margin: 0 auto;
max-width: 100%;
}
.divider.post {
width: 90%;
margin: 1.7rem 5%;
border-top: 1px solid #ddd;
}
.btn {
border: none;
}
.text-center {
text-align: center;
}
/* Social */

.share-twitter {
color: #22A6D6;
}
.share-facebook {
color: #3C5899;
}
.share-page {
padding: .5rem;
text-align: center;
}
.share:hover,
.share:focus {
color: #FF2E6C !important;
}
/* ==========================================================================
 Fonts
 ========================================================================== */

 @font-face {
  font-family: 'Voyager Grotesque';
  src: url(' ../fonts/voyager-grotesque.ttf');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
font-family: 'Veger Bold';
src: url('../fonts/veger-bold-2.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Veger Light';
src: url('../fonts/veger-light.ttf');
font-weight: normal;
font-style: normal;
}*/

.container-title {
  max-width: 680px;
  margin: 0 auto;
}
.site-title {
  display: block;
  text-align: center;
  font-size: 180%;
  font-family: 'Voyager Grotesque', sans-serif;
  /*font-family: 'Veger Bold', sans-serif;*/
  /*font-family: 'Veger Light', sans-serif;*/

  margin-top: 0;
  margin-top: 5rem;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(255, 46, 108);
}
.site-title:hover,
.site-title:focus {
  color: rgb(255, 46, 108);
}
@media (min-width: 78em) {
  /* We increase the header font size even more */

  .site-title {
    font-size: 300%;
  }
}

.main-nav {
  position: absolute;
  top: 1em;
  right: 1em;
}
.main-nav a {
  padding: 1em;
  line-height: 1rem;
  font-size: 1.1em;
}

@media only screen and (max-width :480px) {
  .pure-u-1-5 {
    width: 0 !important;
  }
  .pure-u-3-5 {
    width: 100% !important;
  }
}
